<header class="wp-block-template-part alignwide site-header" role="banner">
	<!-- wp:group {"layout":{"type":"flex","orientation":"horizontal","justifyContent":"space-between"},"style":{"spacing":{"padding":{"top":"20px","bottom":"20px"}}}} -->
	<div class="wp-block-group" style="padding-top:20px;padding-bottom:20px">
		<!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","orientation":"horizontal","verticalAlignment":"center"}} -->
		<div class="wp-block-group">
			<!-- wp:site-logo {"width":48} /-->
			<!-- wp:site-title {"level":0} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:navigation {"className":"header-navigation","layout":{"type":"flex","justifyContent":"right"}} -->
		<nav class="wp-block-navigation header-navigation" aria-label="Header Menu">
			<!-- wp:navigation-link {"label":"Home","url":"/","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"About","url":"/about/","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"Services","url":"/services/","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"Blog","url":"/blog/","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"Contact","url":"/contact/","kind":"custom"} /-->
		</nav>
		<!-- /wp:navigation -->
	</div>
	<!-- /wp:group -->
</header>
